/* CLASSES NOVAS CRIADAS PARA O PROJETO */

#topo{

min-height: 100px;
background-color: #fff;
color: #fff;
    
}

#divs_dd{
    margin-left: -6px;
}

#rodape{
     
min-height: 150px;
background-color: #202377;  
color: #fff; 
    
}

#conteudo{
    
   min-height: 450px; 
}

#lateral{
    
   border-right: 1px solid #000;
   height: 100%;
  }

  .transparente{
   opacity: 0.9;   
      
  }

.thumbnail{
    border-radius: 15px;
    box-shadow: 5px 6px 6px #adadad;
}

/* CLASSES OVERRIDE DO BOOTSTRAP para personalização*/

.pagination>li>a{
    background-color: #202377;
    color: #fff;
}


.btn-cssc{
    color: #fff;
    background-color: #202377;
}

.btn-cssc:hover{
    color: #fff;
    background-color: #393ed4;

} .btn-css:visited{
    color: #fff;
    background-color: #393ed4;
}


/* navbar e menu navbar */
.navbar-inverse{
    border-radius: 0;
    
    
}

#banner{
    border: 2px solid #000;
}

.navbar-inverse .navbar-nav > li > a{
    
  color: #fff;
  font-size: 16px;  
    
}
 #ds_ss{
    padding: 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 2px solid #393ed4;
 }


.navbar-inverse .navbar-nav > li > a:hover{
    
 background-color: #202377;
 border-radius: 10px;
 color: #eb9316;
    
}

/* menu lateral com list group*/

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    
   background-color: #202377; 
    
}

a.list-group-item:hover{
    
    background-color: #202377;
     color: #FFF;
     
    
}

a.list-group-item{
  
    border: 0;
    font-size: 16px;
    
    
}  